[submodule "modules/mruby"]
	path = modules/mruby
	url = git://github.com/mruby/mruby.git
[submodule "modules/emscripten"]
	path = modules/emscripten
	url = git://github.com/kripken/emscripten.git
[submodule "modules/mrubymix"]
	path = modules/mrubymix
	url = git://github.com/xxuejie/mrubymix.git
